<div class="container ">
    <cdk-virtual-scroll-viewport #scrollViewport [itemSize]="59" (scrolledIndexChange)="updateData($event)"
        class="card">
        <div class="recents"> <i class="material-icons">
                history
            </i> <span>Recent Transactions</span></div>

        <table class="table">
            <thead>
                <tr>
                    <th [style.top]="inverseOfTranslation" scope="col">Type</th>
                    <th [style.top]="inverseOfTranslation" scope="col">Amount XTZ ( USD )</th>
                    <th [style.top]="inverseOfTranslation" scope="col">Date</th>
                    <th [style.top]="inverseOfTranslation" scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let row of (transactions$ | async)">
                    <td>{{row.type }}</td>
                    <td>{{row.amount}} XTZ <small>{{row.amount*3.14}} USD</small></td>
                    <td>{{row.date | date:"MMM d y, hh:mm" }}</td>
                    <td>{{row.address }}</td>
                </tr>
            </tbody>

        </table>
    </cdk-virtual-scroll-viewport>
</div>